[ProgressPool]
bar_length = 50
chunksize = 1
style = 1

[logging]
auto_zip = true
backup_count = 10K
file_name = test
format = %%(asctime)s - %%(processName)s/%%(threadName)s - %%(filename)s:%%(lineno)d (%%(funcName)s) - %%(name)s/%%(levelname)s - %%(message)s
level = DEBUG
max_file_size = 64M

[results]
compress = true
file_name = results.csv
include_start_time = true
include_job_interval = true
include_job_done_time = true
include_job_id = true
